---
import { client } from "../sanity";
import Layout from "../layouts/Layout.astro";
import PortableText from "../components/PortableText.astro";

const { slug } = Astro.params;

const page = await client.fetch(
  `*[_type == "page" && slug.current == $slug][0]`,
  {
    slug,
  }
);
if (!page) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout>
  <h1 class="heading-1">{page.title}</h1>
  <PortableText portableText={page.body} />
</Layout>
