---
import { useSanityClient } from "astro-sanity";
import Layout from "../layouts/Layout.astro";
import PortableText from "../components/PortableText.astro";

const { slug } = Astro.params;

const page = await useSanityClient().fetch(
  `*[_type == "page" && slug.current == $slug][0]`,
  {
    slug,
  }
);
---

<Layout>
  <h1 class="heading-1">{page.title}</h1>
  <PortableText portableText={page.body} />
</Layout>
