---
export type Props = {
  message: string;
};
const { message } = Astro.props;
---

<footer class="overflow-hidden">
  <div class="relative w-full overflow-hidden text-3xl text-[#ff0000] h-header">
    <div class="h-full flex items-center animate-marquee whitespace-nowrap">
      <span>{message}&nbsp;&nbsp;</span>
    </div>
    <div
      class="h-full flex items-center absolute animate-marquee2 whitespace-nowrap"
    >
      <span>{message}&nbsp;&nbsp;</span>
    </div>
  </div>
</footer>
