:root {
  /* Space */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
  --space-xl: 4rem;
  --space-2xl: 6rem;
  --space-3xl: 8rem;
  --space-4xl: 12rem;

  /* Layout */
  --sidebar-width: var(--space-2xl);
  --header-height: var(--space-lg);

  /* Colors */
  --text-color: #000;
  --border-color: #ddd;

  /* Fonts */
  --font-primary: "Gowun Batang", serif;

  /* Font sizes */
  --text-xs: 0.75rem;
  --text-sm: 1rem;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
}

body {
  color: var(--text-color);
  font-family: var(--font-primary);
  font-size: var(--text-sm);
}
