:root {
  /* Space */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
  --space-xl: 4rem;
  --space-2xl: 6rem;
  --space-3xl: 8rem;
  --space-4xl: 12rem;

  /* Layout */
  --sidebar-width: var(--space-4xl);
  --header-height: var(--space-lg);
  --footer-height: var(--space-md);

  /* Colors */
  --text-color: #000;
  --border-color: #ddd;
  --bg-color: #fff;
  --placeholder-color: #eee;

  /* Fonts */
  --font-primary: 'Inter', sans-serif;

  /* Font sizes */
  --text-xs: 0.75rem;
  --text-sm: 1rem;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;

  /* Z-Index */
  --index-0: 0;
  --index-1: 10;
  --index-2: 20;
  --index-3: 30;
  --index-4: 40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --border-color: #ddd;
    --border-color: #333;
    --bg-color: #111;
    --placeholder-color: #333;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  color: var(--text-color);
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  background: var(--bg-color);
}
