.container {
  height: 100%;
  animation: fade-in 0.3s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  border-bottom: solid var(--border-color) 1px;
  background-color: var(--bg-color);
  z-index: var(--index-4);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--space-sm);
}

.header a {
  color: var(--text-color);
  text-decoration: none;
}

.content {
  position: relative;
  min-height: 100%;
  padding-top: calc(var(--header-height) + var(--space-sm));
  padding-bottom: calc(var(--footer-height) + var(--space-sm));
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  inset: 0;
  padding: var(--header-height) 0;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: transform 0.3s;
  z-index: var(--index-2);
}

.sidebar::after {
  content: "";
  position: absolute;
  background-color: transparent;
  transition: background-color 0.6s;
  inset: 0;
}

.open .sidebar {
  transform: translateX(0);
}
.open .sidebar::after {
  background-color: rgba(255, 255, 255, 0.8);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--space-xs) var(--space-sm);
  border-top: solid var(--border-color) 1px;
  height: var(--footer-height);
  box-sizing: border-box;
  font-size: var(--text-xs);
}

.filler {
  position: absolute;
  inset: 0;
  background-color: var(--bg-color);
}

.button {
  height: var(--header-height);
  width: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button svg {
  transition: transform 0.3s;
}
.open .button svg {
  transform: rotate(90deg);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@media screen and (min-width: 728px) {
  .header {
    margin-left: var(--sidebar-width);
  }
  .content {
    margin-left: var(--sidebar-width);
  }
  .sidebar {
    position: fixed;
    right: unset;
    width: var(--sidebar-width);
    border-right: solid var(--border-color) 1px;
    transform: none;
    height: unset;
    background-color: unset;
    z-index: unset;
    padding: var(--space-sm);
  }
  .open .sidebar::after {
    display: none;
  }
}
