.container {
}

.content {
  position: relative;
  left: var(--sidebar-width);
  padding: var(--space-sm);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  padding: var(--space-sm);
}
