.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  border-bottom: solid var(--border-color) 1px;

  display: flex;
  align-items: center;
  padding-left: var(--space-sm);
}

.content {
  margin-top: var(--header-height);
  padding: var(--space-sm);
}

.sidebar {
  position: fixed;
  inset: 0;
  padding: var(--space-sm);
  box-sizing: border-box;
  transform: translateX(100%);
  transition: transform 0.3s;
}

@media screen and (min-width: 728px) {
  .header {
    margin-left: var(--sidebar-width);
  }
  .content {
    margin-left: var(--sidebar-width);
  }
  .sidebar {
    position: fixed;
    right: unset;
    width: var(--sidebar-width);
    border-right: solid var(--border-color) 1px;
    transform: none;
  }
}
