---
import "../styles/base.css";
import Header from "../components/Header";
import Footer from "../components/Footer.astro";
import { useSanityClient } from "astro-sanity";

export interface Props {
  navIsOpen?: boolean;
}

const { navIsOpen } = Astro.props;

type Data = {
  pages: {
    title: string;
    slug: string;
  }[];
  settings: {
    title: string | null;
    description: string | null;
    image: {
      url: string | null;
      width: number | null;
      height: number | null;
    } | null;
    footerText: string | null;
  };
};

const { pages, settings } = (await useSanityClient().fetch(`{
  "pages": *[_type == "page" && defined(slug.current)]|order(orderRank){
    title,
    "slug": slug.current
  },
  "settings": *[_id == "settings"][0]{
    title,
    description,
    image{
      ...asset->{
        url,
       ...metadata.dimensions{
          width,
          height
        }
      }
    },
    footerText
  }
}`)) as Data;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{settings.title || ""}</title>
    <meta name="description" content={settings.description || ""} />
    <meta name="title" content={settings.description || ""} />
    <meta property="og:description" content={settings.description || ""} />
    <meta property="og:image" content={settings.image?.url || ""} />
    <meta
      property="og:image:width"
      content={settings.image?.width?.toString() || ""}
    />
    <meta
      property="og:image:height"
      content={settings.image?.height?.toString() || ""}
    />
  </head>
  <body>
    <Header
      client:idle
      label="Gabriele Ferrarini"
      navIsOpen={navIsOpen}
      navItems={pages.map((page) => ({
        label: page.title,
        href: "/" + page.slug,
      }))}
    />
    <main class="pt-header mx-12 my-16">
      <slot />
    </main>
    {settings.footerText && <Footer message={settings.footerText} />}
  </body>
</html>
